spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 100
        dialect: ${SPRING_DATASOURCE_DIALECT}
#    open-in-view: false

  data:
    mongodb:
      uri: ${SPRING_MONGODB_URI}

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.orm.jdbc.bind: trace

jwt:
  expiration_time: 3600000 # 1시간
  secret: 7KeR7JeQ7ISc7ZWY64qUIOyKpO2UhOungeu2gO2KuOuekSBqcGHrnpEg7Iuc7YGQ66as7YuwIOyYiOygnA==

openai:
  api:
    key: ${OPENAI_API_KEY}
    model: gpt-4o-mini
  base-url: https://api.openai.com/v1